    /*-----------------PRIMERA PARTE-----------------*/
  #contenedor {
  width: 600px;
  overflow: auto;
  border: 2px solid black;

}
#contenedor * {
    float: left;
}
.yellow {
  background: yellow;
  width: 150px;
  height: 150px;
}
.blue{
  width: 150px;
  height: 150px;
  background: blue;
}
.red {
  width: 150px;
  height: 150px;
  background: red;
}
/*-----------------SEGUNDA PARTE-----------------*/
