    /*-----------------TERCERA PARTE-----------------*/
  #contenedor {
  width: 600px;
  overflow: auto;
  border: 2px solid black;
}
#thirdPart > #contenedor * {
  float: right;
}
.yellow {
  background: yellow;
  width: 150px;
  height: 150px;
}
.blue{
  width: 150px;
  height: 150px;
  background: blue;
}
.red {
  width: 150px;
  height: 150px;
  background: red;
}
